@import "variables";
@import "custom";
/*Top Header*/
header{
  background:$primaryColor;
  & .main-header{
    padding:1rem
  }

  & .topheader{

      & .nav-link{
          color:$white !important;
          font-size:12px;
          padding:0.5rem 0.5rem

    }
  }

}
.header-nav{
    background: darken($primaryColor,10%);
    & .nav-link{
      padding:0.1rem;
      color:$white !important;
      text-transform:uppercase;
      font-size:0.9rem

    }

}
